<div class="navbar mb-10 bg-base-100">
  <div class="navbar-start">
    <a routerLink="/cars" class="btn btn-ghost normal-case text-xl">Cars</a>
    <a routerLink="/bids" class="btn btn-ghost normal-case text-xl">Bids</a>
    <a routerLink="/car/create" class="btn btn-ghost normal-case text-xl"
      >Create Car</a
    >
    <a routerLink="/user/create" class="btn btn-ghost normal-case text-xl"
      >Create User</a
    >
    <a routerLink="/bid/create" class="btn btn-ghost normal-case text-xl"
      >Create Bid</a
    >
  </div>
  <div class="navbar-end">
    <button class="btn glass" *ngIf="!(isLoggedIn$ | async)" (click)="login()">
      Log In
    </button>
    <button class="btn glass" *ngIf="isLoggedIn$ | async" (click)="logout()">
      Log Out
    </button>
  </div>
</div>
