<div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Model Id</th>
          <th>Begin Price</th>
          <th>Final Price</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bid of bids$ | async" class="hover">
          <td>{{ bid.modelId }}</td>
          <td>{{ bid.beginPrice }}</td>
          <td>{{ bid.finalPrice }}</td>
          <td>{{ bid.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
