<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Model Name</th>
        <th>Begin Price</th>
        <th>Final Price</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bid of bids$ | async" class="hover">
        <td>{{ bid.modelFullName }}</td>
        <td>{{ bid.beginPrice }}</td>
        <td>{{ bid.finalPrice }}</td>
        <td>
          <span *appShowIfNdaysLeft="bid.date; n: 0">{{ bid.date }}</span>
        </td>
        <td>
          <button *appShowIfToday="bid.date" class="btn btn-primary">Bid</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
